
@{
    Page.Title = "Present Planner";
    //Layout = "Your Layout Page goes here";
    var newmsgs = 5;

    Session["newmsgs"] = newmsgs;










}

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="~/css/home.css" />
</head>
<body>

    @RenderPage("layout/_nav.cshtml")


    <div class="parallax-container">
        <div class="parallax z-depth-0">
            <img src="~/resources/pic1.jpg">
        </div>
    </div>
    <main>


        <div class="section red z-depth-5">
            <div class="row container">
                <h2 class="header white-text">Oeps.</h2>
                <p class="white-text text-darken-3 lighten-3">Er is iets misgegaan, probeer het opnieuw of neem contact op.</p>
            </div>
        </div>






    </main>
    <div class="parallax-container">
        <div class="parallax z-depth-0">
            <img src="~/resources/pic2.jpeg">
        </div>
    </div>




    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.parallax').parallax();
        });</script>
</body>

@RenderPage("layout/_footer.cshtml")