@{
    Page.Title = "Present Planner";
    //Layout = "Your Layout Page goes here";
    var newmsgs = 5;
    Session["newmsgs"] = newmsgs;

}
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="~/css/home.css" />
</head>
<body>

    <nav>
        <div class="nav-wrapper red z-depth-5">
            <a href="#" class="brand-logo">A Special Day</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

                <li>
                    <a href="home.cshtml">
                        Dashboard
                        @{ if (newmsgs != 0)
                        {<span class="new badge">@newmsgs</span>}}
                    </a>
                </li>
                <li><a href="register.cshtml">Registratie bruidspaar</a></li>
                <li><a href="login.cshtml">Inloggen bruidspaar</a></li>
                <li><a href="kado.cshtml">Kado inplannen of wijzigen</a></li>
            </ul>
        </div>
    </nav>


    <div class="parallax-container">
        <div class="parallax z-depth-0">
            <img src="~/resources/pic1.jpg">
        </div>
    </div>
    <div class="section red z-depth-5">
        <div class="row container">
            <h2 class="header white-text">Welkom</h2>
            <p class="white-text text-darken-3 lighten-3">Weddingplanners A Special Day brengt u nu een plan-app voor uw trouwcadeau's.</p>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax z-depth-0">
            <img src="~/resources/pic2.jpeg">
        </div>
    </div>
   



    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.parallax').parallax();
        });</script>
</body>

<footer class="page-footer red z-depth-5">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Present Planner</h5>
                <p class="grey-text text-lighten-4">Welkom bij Present Planner.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Inloggen</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Registreer</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Plan Cadeau</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Menu</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Present Planner
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>